<configuration>
    <system.webServer>
    <rewrite>
      <rules>
        <rule name="Fail bad requests">
          <match url=".*"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
        <rule name="Redirect from blog">
          <match url="*" />
          <action type="Redirect" url="src/{R:2}/{R:1}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    </system.webServer>
</configuration>
