<configuration>
    <system.webServer>
        <rule name="Static Files" stopProcessing="true">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAny">
                <add input="{APPL_PHYSICAL_PATH}wwwroot\src\{R:1}" matchType="IsFile" />
            </conditions>
            <action type="Rewrite" url="/{R:1}" />
        </rule>
        <staticContent>
            <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
