<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
    <rewrite>
        <rules>
              <rule name="Add WWW" stopProcessing="true">
              <match url="(.*)" ignoreCase="true" />
              <conditions>
                 <add input="{HTTP_HOST}" pattern="^(?!www\.)(.*)$" />
              </conditions>
              <action type="Redirect" url="http://www.{HTTP_HOST}/src/{R:0}" redirectType="Permanent" />
           </rule>
        </rules>
    </rewrite>
</system.webServer>
